# use glob syntax.
syntax: glob
*.ser
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
/embeddings50D.txt
/glove.6B.zip

glove\.6B/glove\.6B\.100d\.txt

glove\.6B/glove\.6B\.200d\.txt

glove\.6B/glove\.6B\.300d\.txt

glove\.6B/glove\.6B\.50d\.txt
/glove.6B.50d.txt
/tubadw-r1-ir-sample-100000
/wikipedia-300-mincount-50-window-8-cbow.txt
/wikipedia-300-mincount-50-window-8-cbow.txt.gz
